anc/For/Datasets*
anc/MainProgramDatasets
anc/AdditionalForDatasets*
anc/adaptive-neural-compilation*
summer_uccs_research/fairseq*
summer_uccs_research/datasets*
test_various_models*
tests/._.*
tests/._*
tree_to_sequence/._*
*.swp
*.hi
*.o
*.pth
*.pyc
*.json
*/.idea
*/__pycache__
.ipynb*
.DS_Store