*/__pycache__
.ipynb*
ANC/For/Datasets*
ANC/MainProgramDatasets
test_various_models*
ANC/AdditionalForDatasets*
ANC/adaptive-neural-compilation*
.DS_Store
*.swp
*.hi
*.o
*.pth
*.pyc
*.json
*/.idea
summer_uccs_research/fairseq*
